* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  background: rgb(163, 186, 199);
  color: blue;
}

input[type="radio"] {
  max-height: 0;
  max-width: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.accordion {
  background-color: rgb(95, 152, 190);
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 18px 23px 18px -9px rgba(34, 60, 80, 0.2);
}

.header {
  color: black;
  padding: 0 0.5rem;
  border-bottom: 0.07rem solid #ccc;
}

.item {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  border-bottom: 0.0625rem solid #ccc;
}

.item-text {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 0.5rem;
}

.image-mem {
  object-fit: contain;
  width: 20rem;
  margin-bottom: 2rem;
}

.images {
  display: flex;
  justify-content: center;
  max-height: 0;
  transition: linear 0.5s;
}

.svg-plus {
  max-width: 0;
  transition: all 0.5s ease;
}




/*///////////
///checked///
///////////*/


/* при нажатии, мем остается открытым */
.item-input:checked~.images {
  max-height: 30rem;
}

/* при нажатии на лейбел, крестик остается повернутым */
.item-input:checked+label .svg-plus {
  transform: rotate(45deg);
}



/*/////////
///media///
/////////*/

@media (hover:hover) {

   /*//////////////////////////////////
  ///hover active images in desktop///
  //////////////////////////////////*/

  /* меняет цвет  при наведении на зону аккордеона */
  .accordion:hover {
    color: black;
  }

  /* при наведении появляются крестики */
  .accordion:hover .svg-plus {
    max-width: 1rem;
  }

  /* при наведении на блок крестики вращаются */
  .item:hover .svg-plus {
    transform: rotate(45deg);
  }

  /* при наведении на лэйбл, появляются мемы,
  но при наведении на него, сами мемы прячутся */
  label:hover ~ .images {
    max-height: 30rem;
  }

  /*эфект hover остается, если наводится на мем  */
  .images:hover {
    max-height: 30rem;
  }

}

@media (max-width: 1920px) {

  html {
    font-size: 90%;
  }

}

@media (max-width: 820px) {

  html {
    font-size: 70%;
  }

  .svg-plus {
    max-width: 1rem;
  }

}

@media (max-width: 320px) {

  html {
    font-size: 50%;
  }

  .svg-plus {
    max-width: 1rem;
  }

}