* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  background: blanchedalmond;
  color: blue;
}



.header {
  margin-top: 5rem;
  color: black;
  padding: 0 0.5rem;
  border-bottom: 0.07rem solid #ccc;
}

.accordion {
  max-width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: absolute;
}

.item {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  border-bottom: 0.0625rem solid #ccc;
}

.images {
  display: flex;
  justify-content: center;
}
.item-text {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 0.5rem;
}


.image-mem {
  object-fit: contain;
  width: 15rem;
  /* display: none; */
  margin-bottom: 2rem;
}

.svg-plus {
  width: 1rem;
  transition: all 0.5s ease;
  /* display: none; */
}



/* hover active*/
.accordion:hover {
  color: black;
}

.item:hover .svg-plus {
  transform: rotate(45deg);
}

/* checked */
